* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Typewriter Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    /* BACKGROUND */
    --preto-claro: #393E41;
    --preto-escuro: #121517;
    --branco-escuro: #F7F9F9;
    --branco-claro: #FBFBFF;

    /* PALETA */
    --branquin: #fff;
    --pretin: #000;
    --verde-escuro: #4C8577;
    --verde-princ: #5AAA95;
    --claro: #9AEBA3;
}
