* {
    margin: 0px;
    padding: 0px;
}

:root {
    --pretin: #121517;
    --branquin: #FBFBFF;
    --princ: #4C8577;
    --escuro: #4E6E58;
    --claro: #9AEBA3;
}

body {
    background-color: var(--pretin);
    color: var(--branquin);
}

header {
    padding: 30px;
    box-shadow: 0px 1px 10px 1px var(--pretin);
}

